<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>MEDICUENTAS PLUS</title>
    {% block head %}
    {% include "head.html" %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.css" />
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

<body>
    <header>
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    {% block main %}
                    {% include "main.html" %}
                    {% endblock %}
                </div>
                <div class="col-9">
                    {% if validar == 1%}
                    <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>El prestador ha sido registrado satisfactioriamente</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%endif%}
                    {% if validar == 2%}
                    <div id="alerta" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>El usuario ya existe</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%endif%}
                    <form class="row g-3" method="POST" action="/usuarios/registarasistente">
                        {% csrf_token %}
                        <div>
                            <h1 id="tituloformulario">AGREGAR ASISTENTE</h1>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="validationDefault01" name="primerN"
                                placeholder="Primer Nombre" required>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="validationDefault02" name="segundoN"
                                placeholder="Segundo Nombre">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="validationDefault01" name="primerA"
                                placeholder="Primer Apellido" required>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="validationDefault02" name="segundoA"
                                placeholder="Segundo Apellido" required>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="email" name="correo" class="form-control" id="validationDefaultUsername"
                                    aria-describedby="inputGroupPrepend2" placeholder="Correo" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="password" name="clave" class="form-control" id="validationDefaultUsername"
                                    aria-describedby="inputGroupPrepend2" placeholder="Contraseña" min="10" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" name="tipdoc" required>
                                <option selected disabled value="">Seleccionar Tipo Documento</option>
                                {% for tipodocum in tipodocumento%}
                                <option value="{{tipodocum}}">{{tipodocum}}</option>
                                {% endfor %}
                            </select>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" name="numerodoc" class="form-control" id="validationDefaultUsername"
                                    aria-describedby="inputGroupPrepend2" placeholder="Numero Documento" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="date" name="fecha" class="form-control" id="validationDefaultUsername"
                                    aria-describedby="inputGroupPrepend2" placeholder="Fecha Nacimiento" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" name="sexo" required>
                                <option selected disabled value="">Seleccionar Sexo</option>
                                {% for sex in sexo%}
                                <option value="{{sex}}">{{sex}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="number" name="telefono" class="form-control" id="validationDefaultUsername"
                                    aria-describedby="inputGroupPrepend2" placeholder="No Telefono">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" name="ciudad" required>
                                <option selected disabled value="">Seleccionar Ciudad</option>
                                {% for ci in ciudad%}
                                <option value="{{ci.id}}">{{ci.ciudad}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4">
                            <a href="/usuarios" class="btn btn-danger" style="background-color: red !important;"
                                type="submit">Volver</a>
                        </div>
                        <div class="col-8">
                            <button class="btn btn-primary" style="background-color: #1e73dc !important;"
                                type="submit">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    {% if validar == 1%}
    <script>
        window.setTimeout(function () {
            // Move to a new location or you can do something else
            window.location.href = "/usuarios";
        }, 3000);
    </script>
    {%endif%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js'%}"></script>
</body>

</html>