<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>MEDICUENTAS PLUS</title>
    {% load static %}
    <title>MEDICUENTAS PLUS</title>
    {% block head %}
    {% include "head.html" %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.css" />
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

<body>
    <header>
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    {% block main %}
                    {% include "main.html" %}
                    {% endblock %}
                </div>
                <div class="col-9">
                    <div style="margin-bottom: 20px;" class="mt-4">
                        <button style="background-color: #1e73dc;" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" type="button">
                            Agregar Nueva Cita
                        </button>
                    </div>
                    <form method="POST" action="/citas">
                        {% csrf_token %}
                        {%if usuario.rol == 'Administrador' or usuario.rol == 'Asistente'%}
                        <table id="example" class="display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th>Nombres</th>
                                    <th>Especialidad</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pres in prestador%}
                                <tr>
                                    <td>{{pres.numerodocumento}}</td>
                                    <td>{{pres.primernombre}} {{pres.segundonombre}}</td>
                                    <td>
                                        {{pres.especialidad.especialidad}}
                                    </td>
                                    <td>
                                        <a href="/citas/detalles/{{pres.numerodocumento}}" type="submit"
                                            style="background-color: rgb(30, 115, 220); color: white;"
                                            class="btn btn-primary">Ver Agenda</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Documento</th>
                                    <th>Nombres</th>
                                    <th>Especialidad</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                        {%else%}
                        <table id="example" class="display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Documento Paciente</th>
                                    <th>Nombres Paciente</th>
                                    <th>Apellidos Paciente</th>
                                    <th>Correo Paciente</th>
                                    <th>Celular Paciente</th>
                                    <th>Fecha Y Hora</th>
                                    <th>Especialista</th>
                                    <th>Especialidad</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cita in citasagendadas%}
                                <tr>
                                    <td>{{cita.paciente.numerodocumento}}</td>
                                    <td>{{cita.paciente.nombres}}</td>
                                    <td>
                                        {{cita.paciente.apellidos}}
                                    </td>
                                    <td>
                                        {{cita.paciente.correo}}
                                    </td>
                                    <td>
                                        {{cita.paciente.movil}}
                                    </td>
                                    <td>{{cita.fechacita}} a las {{cita.horacita}}</td>
                                    <td>{{cita.especialista.primernombre}}</td>
                                    <td>{{cita.especialidad.especialidad}}</td>
                                    <td>
                                        <a type="button" href="/cancelarcita/{{cita.id}}"
                                            style="background-color: red; color: white;" class="btn btn-danger">Cancelar
                                            Cita</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Documento Paciente</th>
                                    <th>Nombres Paciente</th>
                                    <th>Apellidos Paciente</th>
                                    <th>Correo Paciente</th>
                                    <th>Celular Paciente</th>
                                    <th>Fecha Y Hora</th>
                                    <th>Especialista</th>
                                    <th>Especialidad</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                        {%endif%}
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Digite numero documento
                                            paciente</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input class="form-control" type="number" name="numerodocumento"
                                            placeholder="Digite el numero de documento" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Generar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js'%}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.js"></script>
    {% if usuario.rol == 'Administrador'%}
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "info": "Mostrando pagina _PAGE_ of _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)"
                },
                "columns": [
                    { "data": "Documento" },
                    { "data": "Nombres" },
                    { "data": "Especialidad" },
                    { "data": "" }
                ]
            });
        });
    </script>
    {%else%}
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "info": "Mostrando pagina _PAGE_ of _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)"
                },
                "columns": [
                    { "data": "Documento Paciente" },
                    { "data": "Nombres Paciente" },
                    { "data": "Apellidos Paciente" },
                    { "data": "Correo Paciente" },
                    { "data": "Celular Paciente" },
                    { "data": "Fecha Y Hora" },
                    { "data": "Especialista" },
                    { "data": "Especialidad" },
                    { "data": "" }
                ]
            });
        });
    </script>
    {%endif%}
</body>

</html>