<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>MEDICUENTAS PLUS</title>
    {% load static %}
    <title>MEDICUENTAS PLUS</title>
    {% block head %}
    {% include "head.html" %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.css" />
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

<body>
    <header>
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    {% block main %}
                    {% include "main.html" %}
                    {% endblock %}
                </div>
                <div class="col-9">
                    <div style="text-align: center;" class="mt-4">
                        <h3>Agenda del prestador {{prestador.primernombre}} {{prestador.primerapellido}}
                            {{prestador.segundoapellido}}</h3>
                    </div>

                    <form method="POST" action="/cancelarcita">
                        {% csrf_token %}

                        <table id="example" class="display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>No Documento</th>
                                    <th>Nombres</th>
                                    <th>Telefono</th>
                                    <th>Entidad</th>
                                    <th>Fecha y Hora Cita</th>
                                    <th>Clase Cita</th>
                                    <th>Consultorio</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for presdetalle in prestadordetalle%}
                                <tr>
                                    <td>{{presdetalle.paciente.numerodocumento}}</td>
                                    <td>{{presdetalle.paciente.nombres}}</td>
                                    <td>{{presdetalle.paciente.movil}}</td>
                                    <td>{{presdetalle.entidad.entidad}}</td>
                                    <td>{{presdetalle.fechacita}} {{presdetalle.horacita}}</td>
                                    <td>{{presdetalle.clasecita}}</td>
                                    <td>{{presdetalle.especialista.consultorio}}</td>
                                    <td>
                                        Agendada
                                    </td>

                                    <td>

                                        <a type="button" href="/cancelarcita/{{presdetalle.id}}"
                                            style="background-color: red; color: white;" class="btn btn-danger">Cancelar
                                            Cita</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>No Documento</th>
                                    <th>Nombres</th>
                                    <th>Telefono</th>
                                    <th>Entidad</th>
                                    <th>Fecha y Hora Cita</th>
                                    <th>Clase Cita</th>
                                    <th>Consultorio</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js'%}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "info": "Mostrando pagina _PAGE_ of _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)"
                },
                "columns": [
                    { "data": "No Documento" },
                    { "data": "Nombres" },
                    { "data": "Telefono" },
                    { "data": "Entidad" },
                    { "data": "Fecha y Hora Cita" },
                    { "data": "Clase Cita" },
                    { "data": "Consultorio" },
                    { "data": "Estado" },
                    { "data": "" }
                ]
            });
        });
    </script>
</body>

</html>