<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <title>MEDICUENTAS PLUS</title>
    {% block head %}
	{% include "head.html" %}
	{% endblock %}
</head>
<body>
    <header>
        {% block header %}
				{% include "header.html" %}
		{% endblock %}
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    {% block main %}
				        {% include "main.html" %}
		            {% endblock %}
                </div>
                <div class="col-9 row" id="col-9">
                    <div id="completa">
                        <div style="font-family: 'Alegreya Sans SC'; margin-left: 200px;" class="col-lg-2"
                            id="perfilfoto">
                            <img _ngcontent-xhe-c207="" src="{% static 'imagenes/profile.png'%}" width="64" height="64"
                                alt="Profile Image" class="ml-2 mr-4">
                        </div>
                        <div style="font-family: 'Alegreya Sans SC';" class="col-lg-2" id="perfil">
                            <div>
                                <h4>{{usuario.primernombre}} {{usuario.primerapellido}}</h4>
                            </div>
                            <div>
                                <h6>{{usuario.rol}}</h6>
                            </div>
                        </div>
                        <!--pantalla completa-->
                        <div>
                            <div class="row" id="datos">
                                <div style="font-family: 'Alegreya Sans SC'; margin-left: 220px; margin-top: 20px;"
                                    class="col-lg-6">
                                    <p>Informacion</p>
                                </div>
                                <div style="font-family: 'Alegreya Sans SC'; margin-top: 20px;" class="col-lg-2">
                                    <p>Contacto</p>
                                </div>
                            </div>
                            <hr style="width: 70%; margin-left: 230px;" />
                            <div class="row">
                                <div style="font-family: 'Alegreya Sans SC'; margin-left: 220px; margin-top: 5px;"
                                    class="col-lg-5">

                                    <div>
                                        <p style="font-weight: bold;">Primer Nombre: {{usuario.primernombre}}</p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;">Segundo Nombre: {{usuario.segundonombre}}</p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;">Primer Apellido: {{usuario.primerapellido}}</p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;">Segundo Apellido: {{usuario.segundoapellido}}</p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;">Sexo: {{usuario.sexo}}</p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;">Especialidad:
                                            {{usuario.especialidad.especialidad}}</p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;">Ciudad: {{usuario.ciudad.ciudad}}</p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;">Tipo Documento: {{usuario.tipodocumento}}</p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;">Documento: {{usuario.numerodocumento}}</p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;">Rol: {{usuario.rol}}</p>
                                    </div>
                                </div>
                                <div style="font-family: 'Alegreya Sans SC'; margin-top: 5px;" class="col-lg-3">
                                    <div>
                                        <p style="font-weight: bold;">Numero Telefono: {{usuario.numerotelefono}}</p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;">Correo: {{usuario.usuario}}</p>
                                    </div>
                                    {%if usuario.rol == 'Asistente'%}
                                    <div>
                                        <p style="font-weight: bold;">Prestadores a Cargo</p>
                                    </div>
                                    <div>
                                        {%for pres in prestador%}
                                        <p>{{pres.primerapellido}} {{pres.primernombre}}
                                            --{{pres.especialidad.especialidad}}</p>
                                        {%endfor%}
                                    </div>
                                    {%endif%}
                                    {%if usuario.rol == 'Prestador'%}
                                    <div>
                                        <p style="font-weight: bold;">Asistente: {{usuario.asistente}}
                                            {%if usuario.permisoscomentario == 'Si'%}<a
                                                href="/bloqueo/{{usuario.asistente}}" class="btn btn-danger"
                                                style="color: #fff;">Bloquear
                                                Observaciones</a>{%else%}<a href="/bloqueo/{{usuario.asistente}}"
                                                class="btn btn-success" style="color: #fff;">Desbloquear
                                                Observaciones</a>{%endif%}</p>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Responsive-->
                    <div id="responsive">
                        <div id="perfilfoto">
                            <img _ngcontent-xhe-c207="" src="{% static 'imagenes/profile.png'%}" width="64" height="64"
                                alt="Profile Image" class="ml-2 mr-4">
                        </div>
                        <div>
                            <h4 id="rolynombre">{{usuario.primernombre}} {{usuario.primerapellido}}</h4>
                        </div>
                        <div>
                            <h6 id="rolynombre">{{usuario.rol}}</h6>
                        </div>
                        <div>
                            <p id="informacion">Informacion</p>
                        </div>
                        <hr />
                        <div>
                            <p id="datosinformacion">Primer Nombre: {{usuario.primernombre}}</p>
                        </div>
                        <div>
                            <p id="datosinformacion">Segundo Nombre: {{usuario.segundonombre}}</p>
                        </div>
                        <div>
                            <p id="datosinformacion">Primer Apellido: {{usuario.primerapellido}}</p>
                        </div>
                        <div>
                            <p id="datosinformacion">Segundo Apellido: {{usuario.segundoapellido}}</p>
                        </div>
                        <div>
                            <p id="datosinformacion">Sexo: {{usuario.sexo}}</p>
                        </div>
                        <div>
                            <p id="datosinformacion">Especialidad: {{usuario.especialidad.especialidad}}</p>
                        </div>
                        <div>
                            <p id="datosinformacion">Ciudad: {{usuario.ciudad.ciudad}}</p>
                        </div>
                        <div>
                            <p id="datosinformacion">Tipo Documento: {{usuario.tipodocumento}}</p>
                        </div>
                        <div>
                            <p id="datosinformacion">Documento: {{usuario.numerodocumento}}</p>
                        </div>
                        <div>
                            <p id="datosinformacion">Rol: {{usuario.rol}}</p>
                        </div>
                        <!--Contacto-->
                        <div>
                            <p id="informacion">Contacto</p>
                        </div>
                        <hr />
                        <div>
                            <p id="datosinformacion">Numero Telefono: {{usuario.numerotelefono}}</p>
                        </div>
                        <div>
                            <p id="datosinformacion">Correo: {{usuario.usuario}}</p>
                        </div>
                        {%if usuario.rol == 'Asistente'%}
                        <div>
                            <p id="datosinformacion">Prestadores a Cargo</p>
                        </div>
                        <div>
                            {%for pres in prestador%}
                            <p>{{pres.primerapellido}} {{pres.primernombre}}
                                --{{pres.especialidad.especialidad}}</p>
                            {%endfor%}
                        </div>
                        {%endif%}
                        {%if usuario.rol == 'Prestador'%}
                        <div>
                            <p id="datosinformacion">
                                Asistente: {{usuario.asistente}}
                                {%if usuario.permisoscomentario == 'Si'%}<a href="/bloqueo/{{usuario.asistente}}"
                                    class="btn btn-danger" style="color: #fff;">Bloquear
                                    Observaciones</a>{%else%}<a href="/bloqueo/{{usuario.asistente}}"
                                    class="btn btn-success" style="color: #fff;">Desbloquear
                                    Observaciones</a>{%endif%}
                            </p>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js'%}" ></script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</body>

</html>