<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>MEDICUENTAS PLUS</title>
    {% load static %}
    <title>MEDICUENTAS PLUS</title>
    {% block head %}
    {% include "head.html" %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.css" />
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

<body>
    <header>
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    {% block main %}
                    {% include "main.html" %}
                    {% endblock %}
                </div>
                <div class="col-9" id="col-9">
                    {% if validar == 1%}
                    <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>El diagnostico ha sido agregada satisfactioriamente</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%endif%}
                    {% if validar == 2%}
                    <div id="alerta" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Diagnostico ya existe</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%endif%}
                    <div id="titulo">
                        <h1>Agregar Diagnostico</h1>
                    </div>
                    <form method="POST" action="/maestros/diagnosticos">
                        {% csrf_token %} 
                        <div id="formularioresponsive">
                            <div>
                                <input type="text" name="codigo" class="form-control" id="validationDefaultUsername"
                                    aria-describedby="inputGroupPrepend2" placeholder="Codigo Diagnostico" required>
                            </div>
                            <div>
                                <input type="text" name="diagnostico" class="form-control"
                                    id="validationDefaultUsername" aria-describedby="inputGroupPrepend2"
                                    placeholder="Nombre Diagnostico" required>
                            </div>
                            <div>
                                <button type="submit" id="botonrespon" class="btn btn-primary">Añadir
                                    Diagnostico</button>
                            </div>
                        </div>
                    </form>
                    <form method="POST" action="/maestros/diagnosticos">
                        {% csrf_token %} 
                        <div class="row container-fluid mt-4" id="formularionormal">
                            <div class="col-6">
                                <div class="input-group mb-4" id="maestros">
                                    <input type="text" name="codigo" class="form-control" id="validationDefaultUsername"
                                        aria-describedby="inputGroupPrepend2" placeholder="Codigo Diagnostico" required>
                                </div>
                                <div class="input-group" id="maestros">
                                    <input type="text" name="diagnostico" class="form-control"
                                        id="validationDefaultUsername" aria-describedby="inputGroupPrepend2"
                                        placeholder="Nombre Diagnostico" required>
                                </div>
                            </div>
                            <div class="col-6 mb-4" id="maestros">
                                <button type="submit" class="btn btn-primary">Añadir Diagnostico</button>
                            </div>
                        </div>

                        <div class="mt-4" id="maestros">
                            <table id="example" class="display nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Diagnostico</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for diagnostico in diagnosticos%}
                                    <tr>
                                        <td>{{diagnostico.codigo}}</td>
                                        <td>{{diagnostico.diagnostico}}</td>
                                        <td><a href="/maestros/diagnosticos/{{diagnostico.id}}"><i
                                                    class="fas fa-minus-circle" style="font-size: 20px;"></i></a></td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Diagnostico</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js'%}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.js"></script>
    <script src="{% static 'js/jspdf.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="{% static 'js/jspdf.plugin.autotable.min.js'%}"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)"
                },
                "columns": [
                    { "data": "Codigo" },
                    { "data": "Diagnostico" },
                    { "data": "" }
                ]
            });
        });
    </script>
    {% if validar == 1%}
    <script>
        $("#alerta").delay(3000).hide(1);
    </script>
    {%endif%}
</body>

</html>