<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>MEDICUENTAS PLUS</title>
    {% block head %}
    {% include "head.html" %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.css" />
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

<body>
    <header>
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    {% block main %}
                    {% include "main.html" %}
                    {% endblock %}
                </div>
                <div class="col-9">
                    <form class="row g-3" method="POST" action="/usuarios/editar/{{useredit.id}}">
                        {% csrf_token %}
                        <div class="col-md-3 mt-4">
                            <input type="text" class="form-control" value="{{useredit.primernombre}}" id="validationDefault01" name="primerN" placeholder="Primer Nombre" required>
                        </div>
                        <div class="col-md-3 mt-4">
                            <input type="text" class="form-control" id="validationDefault02" value="{{useredit.segundonombre}}" name="segundoN" placeholder="Segundo Nombre" >
                        </div>
                        <div class="col-md-3 mt-4">
                            <input type="text" value="{{useredit.primerapellido}}"  class="form-control" id="validationDefault01" name="primerA" placeholder="Primer Apellido"  required>
                        </div>
                        <div class="col-md-3 mt-4">
                            <input type="text" value="{{useredit.segundoapellido}}" class="form-control" id="validationDefault02" name="segundoA" placeholder="Segundo Apellido" required>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="email" value="{{useredit.usuario}}" name="correo" class="form-control" id="validationDefaultUsername"
                                    aria-describedby="inputGroupPrepend2" placeholder="Correo" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="password" value="{{useredit.clave}}" disabled name="clave" class="form-control" id="validationDefaultUsername"
                                    aria-describedby="inputGroupPrepend2" placeholder="Contraseña" min="10" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" name="tipdoc" required>
                              <option value="{{useredit.tipodocumento}}">{{useredit.tipodocumento}}</option>
                              {% for tipodocumen in tipodocumento %}
                              {% if tipodocumen == useredit.tipodocumento %}
                             
                              {%else%}
                              <option value="{{tipodocumen}}">{{tipodocumen}}</option>
                              {%endif%}
                              {%endfor%}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" value="{{useredit.numerodocumento}}" name="numerodoc" class="form-control" id="validationDefaultUsername"
                                    aria-describedby="inputGroupPrepend2" placeholder="Numero Documento" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" value="{{useredit.fechanacimiento}}" disabled name="fecha" class="form-control" id="validationDefaultUsername"
                                    aria-describedby="inputGroupPrepend2" placeholder="Fecha Nacimiento" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" name="sexo" required>
                              <option selected value="{{useredit.sexo}}">{{useredit.sexo}}</option>
                              {% for sex in sexo %}
                              {% if sex == useredit.sexo %}
                             
                              {%else%}
                              <option value="{{sex}}">{{sex}}</option>
                              {%endif%}
                              {%endfor%}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="number" value="{{useredit.numerotelefono}}" name="telefono" class="form-control" id="validationDefaultUsername"
                                    aria-describedby="inputGroupPrepend2" placeholder="No Telefono">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" name="ciudad" required>
                                <option selected value="{{useredit.ciudad.id}}">{{useredit.ciudad.ciudad}}</option>
                                {% for ciu in ciudad %}
                                {% if ciu.ciudad == useredit.ciudad.ciudad %}
                               
                                {%else%}
                                <option value="{{ciu.id}}">{{ciu.ciudad}}</option>
                                {%endif%}
                                {%endfor%}
                            </select>
                        </div>
                        {% if useredit.rol == 'Prestador'%}
                        
                        <hr style="width: 96%; margin-left: 15px;"/>
                        <div class="col-md-4">
                           
                            <select class="form-control" name="especialidad" required>
                                <option selected value="{{useredit.especialidad.id}}">{{useredit.especialidad.especialidad}}</option>
                                {% for espe in especialidad%}
                                {%if espe.especialidad == useredit.especialidad.especialidad%}
    
                                {%else%}
                                    <option value="{{espe.id}}">{{espe.especialidad}}</option>
                                {%endif%}
                              {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="number" value="{{useredit.consultorio}}" name="consultorio" class="form-control" id="consultorio"
                                    aria-describedby="inputGroupPrepend2" placeholder="Consultorio" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" name="asistente">
                            <option selected value="{{useredit.asistente}}">{{useredit.asistente}}</option>
                            {% for asi in asistente%}
                                {% if asi.primernombre|add:"-"|add:asi.usuario == useredit.asistente%}
                                {%else%}
                                <option value="{{asi.primernombre}}-{{asi.usuario}}">{{asi.primernombre}}-{{asi.usuario}}</option>
                                {%endif%}
                            {% endfor %}
                            </select>
                        </div>
                        {%endif%}
                        <div class="col-4">
                            <a  href="/usuarios" class="btn btn-danger" style="background-color: red !important;" type="submit">Volver</a>
                        </div>
                        <div class="col-8">
                            <button class="btn btn-primary" style="background-color: #1e73dc !important;" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js'%}"></script>
</body>

</html>