<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>MEDICUENTAS PLUS</title>
    {% load static %}
    <title>MEDICUENTAS PLUS</title>
    {% block head %}
    {% include "head.html" %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.css" />
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

<body>
    <header>
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    {% block main %}
                    {% include "main.html" %}
                    {% endblock %}
                </div>
                <div class="col-9">
                    {% if validar == 1%}
                    <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Historial editado correctamente</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%endif%}
                    <div class="row" style="border-bottom: 3px solid black;">
                        <div class="col-md-6">
                            <div style="margin-bottom: 10px; margin-top: 10px;">
                                <p><b>Tipo Documento:</b> {{paciente.paciente.tipodocumento}}</p>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <p><b>Apellidos Paciente:</b> {{paciente.paciente.apellidos}}</p>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <p><b>Fecha Nacimiento:</b> {{paciente.paciente.fechanacimiento}}</p>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <p><b>Telefono:</b> {{paciente.paciente.telefono}}</p>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <p><b>Movil:</b> {{paciente.paciente.movil}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="margin-bottom: 10px; margin-top: 10px;">
                                <p><b>Numero Documento:</b> {{paciente.paciente.numerodocumento}}</p>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <p><b>Nombres Paciente:</b> {{paciente.paciente.nombres}}</p>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <p><b>Edad:</b> {{paciente.paciente.edad}}</p>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <p><b>Sexo:</b> {{paciente.paciente.sexo}}</p>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <p><b>Correo:</b> {{paciente.paciente.correo}}</p>
                            </div>
                        </div>
                    </div>
                    {% if consultas%}
                    <form method="POST" action="/historiasclinicas/editarhistoriaclinica/{{paciente.id}}">
                        {% csrf_token %}
                        {% for co in consultas%}
                        <div class="row" style="border-bottom: 3px solid black;">
                            <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
                                <h2 style="text-align: center; font-size: 30px; color: #1e73dc;"><b>Consulta</b></h2>
                            </div>
                            <div class="col-md-6">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p>Fecha Actual Consulta:{{co.fechaconsulta}}</p>
                                    <br />
                                    <p><b>F. Consulta:</b> <input type="date" style="width: 50%;"
                                            name="fechaconsultica{{co.id}}" />
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p>Hora Actual Consulta:{{co.fechaalta}}</p>
                                    <br />
                                    <p><b>H. Consulta:</b> <input style="width: 50%;" type="time"
                                            value="{{co.fechaalta}}" name="horaconsultica{{co.id}}" /></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Diagnostico:</b>
                                        <input list="brow" name="diagnosticico{{co.id}}" style="width: 76%;">
                                        <datalist id="brow">
                                            <option value="{{co.diagnostico}}">
                                                {%for dia in diagnosticos%}
                                            <option value="{{dia.diagnostico}}">
                                                {%endfor%}
                                        </datalist>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Tratamiento:</b> <input style="width: 76%;" type="text"
                                            value="{{co.tratamiento}}" name="tratamientico{{co.id}}" /></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Otros datos de interes:</b> <textarea cols="40" rows="8" style="width: 70%;"
                                            name="otrosdaticos{{co.id}}">{{co.otrosdatos}}</textarea></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Notas/Observaciones:</b> <textarea cols="40" rows="8" style="width: 71%; "
                                            name="observacione{{co.id}}">{{co.observaciones}}</textarea></p>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                        <div class="row">
                            <div class="col-2" style="margin-bottom: 10px; margin-top: 10px;">
                                <a href="/historiasclinicas" class="btn btn-danger"
                                    style="background-color: red !important;" type="submit">Volver</a>
                            </div>
                            <div class="col-10" style="margin-bottom: 10px; margin-top: 10px;">
                                <button class="btn btn-primary" style="background-color: #1e73dc !important;"
                                    type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>
                    {%else%}
                    <form method="POST" action="/historiasclinicas/editarhistoriaclinicasa/{{edit1.id}}/{{edit2.id}}">
                        {% csrf_token %}
                        <div class="row" style="border-bottom: 3px solid black;">
                            <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
                                <h2 style="text-align: center; font-size: 30px; color: #1e73dc;"><b>Editar Consulta</b>
                                </h2>
                            </div>
                            <div class="col-md-6">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p>Fecha Actual Consulta:{{edit1.fechaconsulta}}</p>
                                    <br />
                                    <p><b>F. Consulta:</b> <input type="date" style="width: 50%;"
                                            name="fechaconsulta1" />
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p>Hora Actual Consulta:{{edit1.fechaalta}}</p>
                                    <br />
                                    <p><b>H. Consulta:</b> <input style="width: 50%;" type="time"
                                            name="horaconsulta1" /></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Diagnostico:</b>
                                        <input list="brow" name="diagnostico1" style="width: 76%;">
                                        <datalist id="brow">
                                            <option value="{{edit1.diagnostico}}">
                                                {%for dia in diagnosticos%}
                                            <option value="{{dia.diagnostico}}">
                                                {%endfor%}
                                        </datalist>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Tratamiento:</b> <input style="width: 76%;" type="text"
                                            value="{{edit1.tratamiento}}" name="tratamiento1" /></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Otros datos de interes:</b> <textarea cols="40" rows="8" style="width: 70%;"
                                            name="otrosdatos1">{{edit1.otrosdatos}}</textarea></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Notas/Observaciones:</b> <textarea cols="40" rows="8" style="width: 71%; "
                                            name="observaciones1">{{edit1.observaciones}}</textarea></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 3px solid black;">
                            <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
                                <h2 style="text-align: center; font-size: 30px; color: #1e73dc;"><b>Editar Consulta</b>
                                </h2>
                            </div>
                            <div class="col-md-6">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p>Fecha Actual Consulta:{{edit2.fechaconsulta}}</p>
                                    <br />
                                    <p><b>F. Consulta:</b> <input type="date" style="width: 50%;"
                                            name="fechaconsulta2" />
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p>Hora Actual Consulta:{{edit2.fechaalta}}</p>
                                    <br />
                                    <p><b>H. Consulta:</b> <input style="width: 50%;" type="time"
                                            name="horaconsulta2" /></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Diagnostico:</b>
                                        <input list="brow" name="diagnostico2" style="width: 76%;">
                                        <datalist id="brow">
                                            <option value="{{edit2.diagnostico}}">
                                                {%for dia in diagnosticos%}
                                            <option value="{{dia.diagnostico}}">
                                                {%endfor%}
                                        </datalist>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Tratamiento:</b> <input style="width: 76%;" type="text"
                                            value="{{edit2.tratamiento}}" name="tratamiento2" /></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Otros datos de interes:</b> <textarea cols="40" rows="8" style="width: 70%;"
                                            name="otrosdatos2">{{edit2.otrosdatos}}</textarea></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-bottom: 10px; margin-top: 10px;">
                                    <p><b>Notas/Observaciones:</b> <textarea cols="40" rows="8" style="width: 71%; "
                                            name="observaciones2">{{edit2.observaciones}}</textarea></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4" style="margin-bottom: 10px; margin-top: 10px;">
                                <a href="/historiasclinicas" class="btn btn-danger"
                                    style="background-color: red !important;" type="submit">Volver</a>
                            </div>
                            <div class="col-8" style="margin-bottom: 10px; margin-top: 10px;">
                                <button class="btn btn-primary" style="background-color: #1e73dc !important;"
                                    type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>
                    {%endif%}
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js'%}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.js"></script>
    {% if validar == 1%}
    <script>
        window.setTimeout(function () {
            // Move to a new location or you can do something else
            window.location.href = "/historiasclinicas";
        }, 3000);
    </script>
    {%endif%}
</body>

</html>