<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>MEDICUENTAS PLUS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->

    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS only -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Material Kit CSS -->
    <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet" />

</head>

<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white">
            <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
            <div class="logo" style="background-color: #3c3c3c;">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                    <img src="{% static 'imagenes/medicuentaslogo.png'%}" style=" width: 70%; margin-bottom: 10px" />
                </a>
            </div>
            <div class="sidebar-wrapper" style="background-color: #3c3c3c !important;">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" style="color: #fff;" href="/dashboard">
                            <i class="fas fa-user-circle"></i>
                            <p>Mi Usuario</p>
                        </a>
                    </li>
                    {% if usuario.rol == 'Administrador'%}
                    <li class="nav-item">
                        <a class="nav-link" href="/usuarios" style="color: #fff;">
                            <i class="fas fa-users"></i>
                            <p>Usuarios</p>
                        </a>
                    </li>
                    {%endif%}
                    <li class="nav-item active">
                        <a class="nav-link" href="/historiasclinicas" style="background-color: #1e73dc !important;">

                            <i class="fas fa-notes-medical"></i>
                            <p>Hitorias Clinicas</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/citas" style="color: #fff;">
                            <i class="fas fa-calendar-alt"></i>
                            <p>Citas</p>
                        </a>
                    </li>
                    {% if usuario.rol == 'Administrador'%}
                    <li class="nav-item">
                        <a class="nav-link" href="/maestros" style="color: #fff;">
                            <i class="fas fa-cogs"></i>
                            <p>Maestros</p>
                        </a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
                style="background-color: #3c3c3c !important; color: #fff !important;">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="javascript:;">
                            <h6>Copyright © 2021 - Medicuentas Plus V 0.1</h6>
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;">
                                    {{usuario.usuario}}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">
                                    Cerrar Sesion
                                </a>
                            </li>
                            <!-- your navbar here -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                {% if validacion == 2%}
                <div id="alerta" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>No se puede iniciar una historia clinica a un paciente no registrado</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {%endif%}
                {% if validacion == 3%}
                <div id="alerta" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Esta persona ya tiene historia buscalo y genere una nueva consulta</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {%endif%}
                <!-- Button trigger modal -->
                {% if usuario.rol == 'Administrador'%}
                <div style="margin-bottom: 20px;">
                    <button style="background-color: #1e73dc;" type="button" class="btn btn-primary"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Nueva Historia Clinica
                    </button>
                </div>
                {%else%}
                {% if usuario.rol == 'Prestador'%}
                <div style="margin-bottom: 20px;">
                    <button style="background-color: #1e73dc;" type="button" class="btn btn-primary"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Nueva Historia Clinica
                    </button>
                </div>
                {%endif%}
                {%endif%}
                <form method="POST" action="/historiasclinicas">
                    {% csrf_token %}
                    <table id="example" class="display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Tipo Documento</th>
                                <th>No Documento</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                {% if usuario.rol == 'Administrador'%}
                                <th></th>
                                {%else%}
                                {% if usuario.rol == 'Prestador'%}
                                <th></th>
                                {%endif%}
                                {%endif%}
                            </tr>
                        </thead>
                        <tbody>
                            {% for hist in historiaclinica%}
                            <tr>
                                <td>{{hist.paciente.tipodocumento}}</td>
                                <td>{{hist.paciente.numerodocumento}}</td>
                                <td>{{hist.paciente.nombres}}</td>
                                <td>{{hist.paciente.apellidos}}</td>
                                {% if usuario.rol == 'Administrador'%}
                                <td>
                                    <a href="/historiasclinicas/historialregistrarconsulta/{{hist.id}}" type="submit"
                                        style="background-color: green; color: white;" class="btn btn-danger">Nueva
                                        Consulta</a>
                                    <a href="/historiasclinicas/editarhistoriaclinica/{{hist.id}}" type="submit"
                                        style="background-color: #1e73dc; color: white;" class="btn btn-danger">Editar
                                        Historia</a>
                                    <a type="button" onclick="generatepdf('{{hist.id}}');"
                                        style="background-color: #3c3c3c; color: white;"
                                        class="btn btn-primary">Visualizar Historia</a>
                                </td>
                                {%else%}
                                {% if usuario.rol == 'Prestador'%}
                                <td>
                                    <a href="/historiasclinicas/historialregistrarconsulta/{{hist.id}}" type="submit"
                                        style="background-color: green; color: white;" class="btn btn-danger">Nueva
                                        Consulta</a>
                                    <a href="/historiasclinicas/editarhistoriaclinica/{{hist.id}}" type="submit"
                                        style="background-color: #1e73dc; color: white;" class="btn btn-danger">Editar
                                        Historia</a>

                                </td>
                                {%endif%}
                                {%endif%}
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Tipo Documento</th>
                                <th>No Documento</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                {% if usuario.rol == 'Administrador'%}
                                <th></th>
                                {%else%}
                                {% if usuario.rol == 'Prestador'%}
                                <th></th>
                                {%endif%}
                                {%endif%}
                            </tr>
                        </tfoot>
                    </table>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Digite numero documento paciente
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input class="form-control" type="number" name="numerodocumento"
                                        placeholder="Digite el numero de documento" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Generar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Modal -->

            </div>
            <!--<footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <li>
                                <a href="https://www.creative-tim.com">
                                    Creative Tim
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with <i class="material-icons">favorite</i> by
                        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
                    </div>
                   your footer here 
                </div>
            </footer>-->
        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.js"></script>
    <script src="{% static 'js/jspdf.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="{% static 'js/jspdf.plugin.autotable.min.js'%}"></script>
    {% if usuario.rol == 'Administrador'%}
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "info": "Mostrando pagina _PAGE_ of _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)"
                },
                "columns": [
                    { "data": "Tipo Documento" },
                    { "data": "No Documento" },
                    { "data": "Nombres" },
                    { "data": "Apellidos" },
                    { "data": "" }
                ]
            });
        });
    </script>
    {%else%}
    {% if usuario.rol == 'Prestador'%}
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "info": "Mostrando pagina _PAGE_ of _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)"
                },
                "columns": [
                    { "data": "Tipo Documento" },
                    { "data": "No Documento" },
                    { "data": "Nombres" },
                    { "data": "Apellidos" },
                    { "data": "" }
                ]
            });
        });
    </script>
    {%endif%}
    {%endif%}
    {% if usuario.rol == 'Asistente'%}
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "info": "Mostrando pagina _PAGE_ of _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)"
                },
                "columns": [
                    { "data": "Tipo Documento" },
                    { "data": "No Documento" },
                    { "data": "Nombres" },
                    { "data": "Apellidos" }
                ]
            });
        });
    </script>
    {%endif%}
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <script>
        function generatepdf(selecthistorial) {
            console.log(selecthistorial);
            var serviceEndpoint = "{% url 'historiasclinicas/view' %}";
            $.ajax({
                type: 'POST',
                url: serviceEndpoint,
                data: {
                    selecthistorial: selecthistorial
                },
                success: function (data) {
                    console.log(data.paciente);
                    var doc = new jsPDF();
                    var img = new Image();
                    img.src = '../../static/imagenes/medicuentaslogo.png';
                    doc.addImage(img, 'png', 10, 0, 70, 25)
                    doc.text("Historia Clinica", 80, 30);
                    doc.setFont("helvetica");
                    doc.setFontType("bold");
                    doc.setFontSize(10);
                    doc.line(206, 35, 2, 35);
                    data.paciente.forEach(dato => {
                        doc.text("Tipo Documento: "+dato.tipodocumento, 10, 42);
                        doc.text("Numero Documento: "+dato.numerodocumento, 100, 42);
                        doc.text("Apellidos Pacientes: "+dato.apellidos, 10, 50);
                        doc.text("Nombres Pacientes: "+dato.nombres, 100, 50);
                        doc.text("Fecha Nacimiento: "+dato.fechanacimiento, 10, 59);
                        doc.text("Edad: "+dato.edad, 100, 59);
                        doc.text("Telefono: "+dato.telefono, 10, 68);
                        doc.text("Sexo: "+dato.sexo, 100, 68);
                        doc.text("Movil: "+dato.movil, 10, 77);
                        doc.text("Correo: "+dato.correo, 100, 77);
                    });
                   
                    doc.line(206, 86, 2, 86);
                    data.historial.forEach(element => {
                        var columns = [
                            { title: "Fecha y hora de la consulta: "+element.fechaconsulta+" "+element.fechaalta, dataKey: "Dirigidoa" },
                        ];
                        var rows = [
                            { Dirigidoa: "DIAGNOSTICO: "+element.diagnostico },
                            { Dirigidoa: "TRATAMIENTO: "+element.tratamiento},
                            {
                                Dirigidoa: "OTROS DATOS DE INTERES: "+element.otrosdatos
                            },
                            {
                                Dirigidoa: "NOTAS/OBSERVACIONES: "+element.observaciones
                            }
                        ];
                        doc.autoTable(columns, rows, {
                            startY: false,
                            theme: 'grid',
                            margin: { top: 90 },
                            //tableWidth: 'auto', 
                            columnWidth: 'wrap',
                            showHeader: 'everyPage',
                            columnStyles: {
                                0: { columnWidth: '100' }
                            },
                            headerStyles: { theme: 'grid' },
                            styles: { overflow: 'linebreak', columnWidth: '100', font: 'arial', fontSize: 10, cellPadding: 4, overflowColumns: 'linebreak' },
                        });
                    });
                    doc.save('table.pdf');
                    console.log(data.historial);
                }
            });

        }
    </script>
</body>

</html>