<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>MEDICUENTAS PLUS</title>
    {% load static %}
    <title>MEDICUENTAS PLUS</title>
    {% block head %}
    {% include "head.html" %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.css" />
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

<body>
    <header>
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    {% block main %}
                    {% include "main.html" %}
                    {% endblock %}
                </div>
                <div class="col-9">
                    {% if validacion == 2%}
                    <div id="alerta" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>No se puede iniciar una historia clinica a un paciente no registrado</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%endif%}
                    {% if validacion == 3%}
                    <div id="alerta" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Esta persona ya tiene historia buscalo y genere una nueva consulta</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%endif%}
                    <!-- Button trigger modal -->
                    {% if usuario.rol == 'Administrador'%}
                    <div style="margin-bottom: 20px;" class="mt-4">
                        <button style="background-color: #1e73dc;" type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Nueva Historia Clinica
                        </button>
                    </div>
                    {%else%}
                    {% if usuario.rol == 'Prestador'%}
                    <div style="margin-bottom: 20px;" class="mt-4">
                        <button style="background-color: #1e73dc;" type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Nueva Historia Clinica
                        </button>
                    </div>
                    {%endif%}
                    {%endif%}
                    <form method="POST" action="/historiasclinicas">
                        {% csrf_token %}
                        <table id="example" class="display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Tipo Documento</th>
                                    <th>No Documento</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    {% if usuario.rol == 'Administrador'%}
                                    <th></th>
                                    {%else%}
                                    {% if usuario.rol == 'Prestador'%}
                                    <th></th>
                                    {%endif%}
                                    {%endif%}
                                </tr>
                            </thead>
                            <tbody>
                                {% for hist in historiaclinica%}
                                <tr>
                                    <td>{{hist.paciente.tipodocumento}}</td>
                                    <td>{{hist.paciente.numerodocumento}}</td>
                                    <td>{{hist.paciente.nombres}}</td>
                                    <td>{{hist.paciente.apellidos}}</td>
                                    {% if usuario.rol == 'Administrador'%}
                                    <td>
                                        <a href="/historiasclinicas/historialregistrarconsulta/{{hist.id}}"
                                            type="submit" style="background-color: green; color: white;"
                                            class="btn btn-danger">Nueva
                                            Consulta</a>
                                        <a href="/historiasclinicas/editarhistoriaclinica/{{hist.id}}" type="submit"
                                            style="background-color: #1e73dc; color: white;"
                                            class="btn btn-danger">Editar
                                            Historia</a>
                                        <a type="button" onclick="generatepdf('{{hist.id}}');"
                                            style="background-color: #3c3c3c; color: white;"
                                            class="btn btn-primary">Visualizar Historia</a>
                                    </td>
                                    {%else%}
                                    {% if usuario.rol == 'Prestador'%}
                                    <td>
                                        <a href="/historiasclinicas/historialregistrarconsulta/{{hist.id}}"
                                            type="submit" style="background-color: green; color: white;"
                                            class="btn btn-danger">Nueva
                                            Consulta</a>
                                        <a href="/historiasclinicas/editarhistoriaclinica/{{hist.id}}" type="submit"
                                            style="background-color: #1e73dc; color: white;"
                                            class="btn btn-danger">Editar
                                            Historia</a>
                                        <a type="button" onclick="generatepdf('{{hist.id}}');"
                                            style="background-color: #3c3c3c; color: white;"
                                            class="btn btn-primary">Visualizar Historia</a>
                                    </td>
                                    {%endif%}
                                    {% if usuario.rol == 'Asistente'%}
                                    <td>
                                        <a type="button" onclick="generatepdf('{{hist.id}}');"
                                            style="background-color: #3c3c3c; color: white;"
                                            class="btn btn-primary">Visualizar Historia</a>
                                    </td>
                                    {%endif%}

                                    {%endif%}

                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Tipo Documento</th>
                                    <th>No Documento</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    {% if usuario.rol == 'Administrador'%}
                                    <th></th>
                                    {%else%}
                                    {% if usuario.rol == 'Prestador'%}
                                    <th></th>
                                    {%endif%}
                                    {%endif%}
                                </tr>
                            </tfoot>
                        </table>
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Digite numero documento
                                            paciente
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input class="form-control" type="number" name="numerodocumento"
                                            placeholder="Digite el numero de documento" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Generar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js'%}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.js"></script>
    <script src="{% static 'js/jspdf.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="{% static 'js/jspdf.plugin.autotable.min.js'%}"></script>
    {% if usuario.rol == 'Administrador'%}
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "info": "Mostrando pagina _PAGE_ of _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)"
                },
                "columns": [
                    { "data": "Tipo Documento" },
                    { "data": "No Documento" },
                    { "data": "Nombres" },
                    { "data": "Apellidos" },
                    { "data": "" }
                ]
            });
        });
    </script>
    {%else%}
    {% if usuario.rol == 'Prestador'%}
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "info": "Mostrando pagina _PAGE_ of _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)"
                },
                "columns": [
                    { "data": "Tipo Documento" },
                    { "data": "No Documento" },
                    { "data": "Nombres" },
                    { "data": "Apellidos" },
                    { "data": "" }
                ]
            });
        });
    </script>
    {%endif%}
    {%endif%}
    {% if usuario.rol == 'Asistente'%}
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollX": true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "info": "Mostrando pagina _PAGE_ of _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)"
                },
                "columns": [
                    { "data": "Tipo Documento" },
                    { "data": "No Documento" },
                    { "data": "Nombres" },
                    { "data": "Apellidos" },
                    { "data": "" }
                ]
            });
        });
    </script>
    {%endif%}
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <script>
        function generatepdf(selecthistorial) {
            var serviceEndpoint = "{% url 'historiasclinicas/view' %}";
            $.ajax({
                type: 'POST',
                url: serviceEndpoint,
                data: {
                    selecthistorial: selecthistorial
                },
                success: function (data) {
                    var permisos = "";
                    if (data.valida == true) {
                        data.usuari.forEach(dat => {
                            permisos = dat.permisoscomentario;
                        });
                    }
                    var documento = "";
                    var doc = new jsPDF();
                    var img = new Image();
                    img.src = '../../static/imagenes/logo1.png';
                    doc.addImage(img, 'png', 10, 0, 70, 25)
                    doc.text("Historia Clinica", 80, 30);
                    doc.setFont("helvetica");
                    doc.setFontType("bold");
                    doc.setFontSize(10);
                    doc.line(206, 35, 2, 35);
                    data.paciente.forEach(dato => {
                        documento = dato.numerodocumento;
                        doc.text("Tipo Documento: " + dato.tipodocumento, 10, 42);
                        doc.text("Numero Documento: " + dato.numerodocumento, 100, 42);
                        doc.text("Apellidos Pacientes: " + dato.apellidos, 10, 50);
                        doc.text("Nombres Pacientes: " + dato.nombres, 100, 50);
                        doc.text("Fecha Nacimiento: " + dato.fechanacimiento, 10, 59);
                        doc.text("Edad: " + dato.edad, 100, 59);
                        doc.text("Telefono: " + dato.telefono, 10, 68);
                        doc.text("Sexo: " + dato.sexo, 100, 68);
                        doc.text("Movil: " + dato.movil, 10, 77);
                        doc.text("Correo: " + dato.correo, 100, 77);
                    });

                    doc.line(206, 86, 2, 86);
                    data.historial.forEach(element => {
                        var columns = [
                            { title: "Fecha y hora de la consulta: " + element.fechaconsulta + " " + element.fechaalta, dataKey: "Dirigidoa" },
                        ];
                        if (permisos != "") {
                            if (permisos == "Si") {
                                var rows = [
                                    { Dirigidoa: "DIAGNOSTICO: " + element.diagnostico },
                                    { Dirigidoa: "TRATAMIENTO: " + element.tratamiento },
                                    {
                                        Dirigidoa: "OTROS DATOS DE INTERES: " + element.otrosdatos
                                    },
                                    {
                                        Dirigidoa: "NOTAS/OBSERVACIONES: " + element.observaciones
                                    }
                                ];
                            } else {
                                var rows = [
                                    { Dirigidoa: "DIAGNOSTICO: " + element.diagnostico },
                                    { Dirigidoa: "TRATAMIENTO: " + element.tratamiento },
                                    {
                                        Dirigidoa: "OTROS DATOS DE INTERES: " + element.otrosdatos
                                    }
                                ];
                            }
                        } else {
                            var rows = [
                                { Dirigidoa: "DIAGNOSTICO: " + element.diagnostico },
                                { Dirigidoa: "TRATAMIENTO: " + element.tratamiento },
                                {
                                    Dirigidoa: "OTROS DATOS DE INTERES: " + element.otrosdatos
                                },
                                {
                                    Dirigidoa: "NOTAS/OBSERVACIONES: " + element.observaciones
                                }
                            ];
                        }

                        doc.autoTable(columns, rows, {
                            startY: false,
                            theme: 'grid',
                            margin: { top: 90 },
                            //tableWidth: 'auto', 
                            columnWidth: 'wrap',
                            showHeader: 'everyPage',
                            columnStyles: {
                                0: { columnWidth: '100' }
                            },
                            headerStyles: { theme: 'grid' },
                            styles: { overflow: 'linebreak', columnWidth: '100', font: 'arial', fontSize: 10, cellPadding: 4, overflowColumns: 'linebreak' },
                        });
                    });
                    doc.save('historiaclinica' + documento + '.pdf');
                    console.log(data.historial);
                }
            });

        }
    </script>
</body>

</html>